HARDHAT_NETWORK=baseSepolia
CONTRACT_ADDRESS=0x26F2b624d05ede7F2a71bEaC09f675716d0f273b
DOCTOR_WALLET_ADDRESS=your_wallet_address
GROQ_API_KEY=your_groq_key
GEMINI_API_KEY=your_gemini_key
OPENROUTER_API_KEY=your_openrouter_key
DEPLOYER_PRIVATE_KEY=your_private_key
JWT_SECRET=your_jwt_secret
RPC_URL=https://sepolia.base.org
AGENT_SERVICE_URL=http://localhost:8000
YOUTUBE_API_KEY=your_youtube_key
AI_MODEL=groq/llama-3.3-70b
